*{
    margin: 0;
    padding: 0;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)), url('BG.jpg');
    height: 92.5vh;
    background-size:cover;
    background: position 30%;
}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 20% 40%;
    background-position: 10% 30%;
    background-color: #d8f2f2;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    border: 1pv solid #fff;
    transition: 0.6s ease;
    border-radius: 20px;
}
ul li a:hover{
    background-color: #f2cbde;
    color:#30bfbd;
}
ul li.active a{
    background-color: #d8f2f2;
    color:#30bfbd;
}
.logo img{
    top: 30%;
    float:left;
    width: 100px;
    height: 80px;
}
.main{
    max-width: 1200px;
    margin: auto;
}


.Their-lives-matter {
  padding-top: 500px;
  padding-right: 350px;
  font-size: 4vw;
  line-height: 4vw;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  background: url(https://us.123rf.com/450wm/melnyk58/melnyk581905/melnyk58190501072/122606842-little-dogs-are-posing-and-looking-in-the-camera-cute-doggies-or-pets-are-happy-the-different-purebr.jpg?ver=6);
  background-size: 40%;
  background-position: 30% 30%;
  -webkit-background-clip: text;
  color: rgba(0,0,0,0.08);
  animation: infinite zoomout 10s ease 500ms forwards;
}

@keyframes zoomout {
  from {
    background-size: 40%;
  }
  to {
    background-size: 10%;
  }
}

.para{
    padding: 1px 40px;
    position: absolute;
    top: 2%;
    left: 16%;
    right: 40%;
    text-align: justify;
}
.para p{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(35, 223, 248);
    font-weight: bolder;
}

.para1{
    padding: 1px 40px;
    position: absolute;
    top: 55%;
    left: 8%;
    right: 50%;
    text-align: justify;
}
.para1 p{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(216, 242, 242);
}

.wrapper{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height:auto;
}
.wrapper span{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(0, 0, 255);
}
button{
    top: 250px;
    right: 300px;
    width: 200px;
    height: 60px;
    background: linear-gradient(to top right, #d8f2f2 50%, #f2cbde 50%);
    border: 2px solid red;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
}
button:hover{
    transition: all 0.5s;
    width: 250px;
    height: 70px;
    border: 2px solid blue;
}

span:hover{
    font-size: 30px;
    color: rgb(255, 0, 0);
}


